.wrapper 
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    position: relative;
    height: 100% !important;
    width: 100% !important;
}

.selectionBox 
{
    display: block;
    position: absolute;
    border-radius: 5px;
}

.grid 
{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.grid input
{
    opacity: 0;
    width: 22px;
    height: 22px;
    margin: 1px;
}

input, label
{
    display: block;
}

.level
{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    display: block;
}

.checkmark
{
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 1px;
    margin-left: -23px;
}

.trap
{
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    background-color: indianred;
    border-radius: 5px;
    margin: 1px;
    margin-left: -23px;
}